.filterTitle {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 600;
}

.filterField {
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    font-size: 24px;
}